# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environments
# =========================
env/
venv/
.venv/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Logs & OS Files
# =========================
*.log
.DS_Store
Thumbs.db

# =========================
# Editor Settings
# =========================
.vscode/
.idea/
